<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Menu</title>
  </head>
  <body>
    <%- include('./partials/nav') %>
    <h1>Full Menu</h1>
    <h2>mains:</h2>
    <ul>
      <% menuuu.forEach(element => {%> <%if(element.category==="mains"){%>
      <li>
        name : <%=element.name%> , price : <%=element.price%> , rating :
        <%=element.rating%> , details : <%=element.details%>
      </li>
      <%}%> <% });%>
    </ul>
    <h2>sides:</h2>
    <ul>
      <% menuuu.forEach(element => {%> <%if(element.category==="sides"){%>
      <li>
        name : <%=element.name%> , price : <%=element.price%> , rating :
        <%=element.rating%> , details : <%=element.details%>
      </li>
      <%}%> <% });%>
    </ul>
    <h2>desserts:</h2>
    <ul>
      <% menuuu.forEach(element => {%> <%if(element.category==="desserts"){%>
      <li>
        name : <%=element.name%> , price : <%=element.price%> , rating :
        <%=element.rating%> , details : <%=element.details%>
      </li>
      <%}%> <% });%>
    </ul>
  </body>
</html>
